
__pycache__/funcoespyautogui.cpython-39.pyc
__pycache__/funcoesdb.cpython-39.pyc
__pycache__/funcoesanalise.cpython-39.pyc
yolov5/
__pycache__/videos.cpython-39.pyc
__pycache__/banco.cpython-39.pyc
__pycache__/automacao.cpython-39.pyc
__pycache__/app.cpython-39.pyc
__pycache__/analise.cpython-39.pyc
yolov5x.pt
