<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Vídeos analisados </title>
    <!-- Bootsratp -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.2.0/css/bootstrap.min.css">
    <!-- jQuery e DataTable -->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/dataTables.bootstrap5.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/2.3.6/css/buttons.dataTables.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css">
</head>

<style>
    td {
        font-size: 12px;
    }

    td span {
        font-size: 10px;
    }

    .meta-sim {
        background-color: rgb(226, 239, 218) !important;
    }

    .meta-nao {
        background-color: rgb(252, 228, 214) !important;
    }
</style>

<body>
    <div class="container mt-4 mb-4">
        <div class="row mb-4">
            <h1> Vídeos analisados </h1>
        </div>
        <div class="row">
            <table id="tabelaVideos" class="table nowrap">
                <thead>
                    <tr>
                        <th>Link</th>
                        <th>Data e Hora</th>
                        <th>Dataset</th>
                        <th>Parâmetros</th>
                        <th>Resultado</th>
                    </tr>
                </thead>
                <tbody>
                    {% for video in videos: %}
                    <!-- 0 - v.video_link
                    1 - v.video_data
                    2 - v.qt_frame
                    3 - v.qt_frame_param
                    4 - v.valid
                    5 - c.id_config
                    6 - c.modelo
                    7 - c.objeto
                    8 - c.time_video_sec
                    9 - c.perc_video
                    10 - c.qt_video
                    11 - c.crit_aceit -->
                    <tr class="{% if video[4] == 1 %} meta-sim {% else %} meta-nao {% endif %}">
                        <td><a href="{{ video[0] }}" target="_blank">{{ video[0] }}</a></td>
                        <td>{{ video[1].strftime("%d/%m/%Y") }} <br> {{ video[1].strftime("%H:%M:%S") }}</td>
                        <td>{{ video[5] }}</td>
                        <td>
                            <span><b>Modelo:</b> {{ video[6] }}</span><br>
                            <span><b>Objeto:</b> {{ video[7] }}</span><br>
                            <span><b>Primeiros segundos analisados:</b> {{ video[8] }}s</span><br>
                            <span><b>Critério de aceitação:</b> {{ video[11] }}%</span><br>
                            <span><b>Meta:</b> {{ video[9] }}%</span><br>
                            <span><b>Quantidade de vídeos analisados:</b> {{ video[10] }}</span>
                        </td>
                        <td>
                            <span><b>Quadros capturados / considerados:</b> {{ video[2] }} / {{ video[3] }}</span><br>
                            {% set percentual = video[3] / video[2] * 100 %}
                            <span><b>Percentual quadros:</b> {{'%0.1f' % percentual|float}}% </span><br>
                            <span><b>Atingiu a meta: </b>{% if video[4] == 1 %} Sim {% else %} Não {% endif %}</span>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
                <tfoot>
                    <tr>
                        <th>Link</th>
                        <th>Data e Hora</th>
                        <th>Dataset</th>
                        <th>Parâmetros</th>
                        <th>Resultado</th>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</body>


<!-- jQuery e DataTable -->
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.3.6/js/dataTables.buttons.min.js"></script>
<script src="https://cdn.datatables.net/1.13.4/js/dataTables.bootstrap5.min.js"></script> <!-- Bootsratp -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
<script src="https://cdn.datatables.net/buttons/2.3.6/js/buttons.html5.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.3.6/js/buttons.print.min.js"></script>

<script>
    $(document).ready(function () {
        $('#tabelaVideos').DataTable({
            "pageLength": 5,
            // "searching": false,
            // "paging": false,
            // "info": false,
            // "ordering": false,
            order: [[2, 'desc'], [1, 'desc']],
            dom: 'Bfrtip',
            buttons: [
                'copy', 'csv', 'excel', 'pdf', 'print'
            ]
        });
    });
</script>

</html>